@import url(https://fonts.googleapis.com/css?family=DM+Sans:regular,italic,500,500italic,700,700italic);

.title {
  text-align: center;
  font-family: DM Sans;
  font-size: 40px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: -0.003em;
}
.df {
    width: 80%;
    margin: 0 auto;
display: flex;
align-items: center;
justify-content: space-evenly;
flex-wrap: wrap;
}
